@import '../@theme/styles/themes';

:host ::ng-deep {
  @for $i from 1 through 8 {
    .report-icon-#{$i} {
      background-image: url("../../assets/images/icon#{$i}.png");
      width: 35px !important;
      height: 35px !important;
      background-repeat: no-repeat;
      background-size: 35px 35px;
      margin: 0 14px 0 14px !important;
    }
  }
}

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

 
}
